
        h2 {
            font-family: 'Satisfy', cursive;
            font-size: 3em;
        }
        p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
        }

        body {
            background-color: #689CB6;
        }
        .arredondar-foto {
            border-radius: 10%;
        }

        .botoes {
            background-color: #9fa3a5;
            padding: 10px 10px;
            border-radius: 10%;
            text-decoration: none;
            color: black;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            border-style: solid;
            border-width: thin;
            line-height: 25px;
            box-shadow: 2px 2px rgba( 0, 0, 0, 0.4);
            text-shadow: 1px 1px rgba( 0, 0, 0, 0.4);
            background-image: linear-gradient(to bottom right, rgb(90, 90, 90), rgb(163, 162, 162));
            
            
        }
        
        li {
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
        }

        .sombras {
            text-shadow: 1px 1px rgba( 0, 0, 0, 0.4);
        }

#Nome {
    border: 3px solid red;
    width: 400px;
    padding: 1em;
    text-align: center;
}

#Foto-de-Perfil {
    border: 3px solid green;
    width: fit-content;
    float: left;
    padding: 5px;
    background-color: black;
    
    
}

#Sobre-Mim {
    border: 3px solid black;
    width: 300px;
    float: right;
    
}

#Foto-e-Descricao {
    border: 3px solid yellow;
    display: inline-block;
    padding: 3em;
    vertical-align: middle;
}

li:nth-child(odd) {
    color: rgb(68, 68, 68);

}